.docstring {
  @extend .card;
  margin-bottom: 1em;

  > header {
    @extend .card-header;

    // background-color: $background;

    // Same as .card-header-title, sans font-weight:
    // align-items: center;
    color: $card-header-color;
    display: flex;
    flex-grow: 1;
    padding: $card-header-padding;
    // padding: $card-header-padding $card-content-padding;
  }

  > section {
    @extend .card-content;
    border-bottom: 1px solid $border;
    &:last-child {
      border-bottom: none;
    }

    // TODO: FIX!
    footer {
      margin-top: 0.5rem;
      text-align: right;
      // float: right;
      // position: relative;
      // right: 0.7*$card-content-padding;
      // top: 0.7*$card-content-padding;
      // visibility: hidden;
      > a {
        @extend .tag;
        @extend .is-primary;
        @extend .is-size-7;
      }
    }
    &:hover > footer {
      visibility: visible;
    }
  }
}
