/* This file contain the overall layout.
 *
 * The main container is <div> that is identified by id #documenter.
 *
 * The layout is currently done using the bulma-dashboard extension.
 *
 * But we don't want to make this immutable, hence we use the @extend rules.
 *
 * It contain two panels: .docs-sidebar, which extends .dashboard-panel
 * and
 *
 */
#documenter {
  @extend .dashboard;

  .docs-sidebar {
    @extend .dashboard-panel;

    color: $sidebar-color;
    background-color: $sidebar-background;
    border-right: 1px solid $border;
    padding: 0;
    flex: 0 0 $sidebar-width;
    z-index: 5; // make sure it's on top of the main body and top bar

    // This is mobile-first, so our default state is that the sidebar is hidden away left
    // of the screen.
    position: absolute;
    left: -$sidebar-width;
    width: $sidebar-width;
    transition: left 0.3s;
    // Clicking on the hamburger on mobile toggles the .visible class on the sidebar
    // If enabled, we'll move the sidebar into view. As it is now floating above the
    // main body content, we apply a shadow.
    &.visible {
      left: 0;
      box-shadow: 2*$shadow-size 0rem 2*$shadow-blur $shadow;
      @include tablet {
        // We make sure that the shadow is gone if we've ended up in non-mobile layout
        // but the .visible class is still toggled.
        box-shadow: none;
      }
    }
    // In the non-mobile layout, we show the sidebar as a left panel of the dashboard.
    @include tablet {
      position: relative;
      left: 0;
    }

    // The top bar of the sidebar bar contains:
    // 1. Logo (optional)
    .docs-logo {
      padding: 0 1rem;
      > img {
        @extend .image;
        max-height: 6rem;
        margin: auto;
      }
    }
    // 2. The site name, from the sitename keyword (optional)
    .docs-package-name {
      flex-shrink: 0;
      font-size: $sidebar-title-font-size;
      font-weight: $weight-bold;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      // The padding works around the problem that when you set overflow: hidden, part
      // of the container gets hidden.
      padding: 0.5rem 0;
      // We don't know how wide the text is (the user can provide a _really_ long string to
      // sitename). So we wrap the name in a <span> which can be dynamically resized with
      // JS.
      .docs-autofit {
        max-width: $sidebar-title-width;
      }
    }

    // The version selector (optional). It is hidden by default, but can be toggled by JS
    // if there actually are some versions to display.
    .docs-version-selector {
      border-top: 1px solid $border;
      display: none;
      padding: 0.5rem;
      &.visible {
        display: inherit;
      }
    }

    // FIXME: sidebar styling
    .docs-menu {
      @extend .is-scrollable;
      flex-grow: 1;

      font-size: $size-normal;
      border-top: 1px solid $border;
      // background-color: $background;

      > li > .tocitem {
        padding-left: $sidebar-menu-padding;
      }
      ul > li > .tocitem {
        padding-left: 2*$sidebar-menu-padding;
      }
      ul ul > li > .tocitem {
        padding-left: 3*$sidebar-menu-padding;
      }
      ul ul ul li > .tocitem {
        padding-left: 4*$sidebar-menu-padding;
      }

      .tocitem {
        display: block;
        padding-top: 0.4em;
        padding-bottom: 0.4em;

        &, &:hover {
          color: $sidebar-color;
        }
      }

      a.tocitem:hover {
        background-color: $sidebar-menu-hover-background;
        // color: $sidebar-menu-hover-color;
      }

      .tocitem.is-active {
        border-top: 1px solid $sidebar-menu-border;
        &, &:hover {
          background-color: $sidebar-menu-active-background;
          color: $sidebar-menu-active-color;
          font-weight: $sidebar-menu-active-font-weight;
        }
      }

      > li:first-child .tocitem.is-active {
        border-top: none;
      }

      ul.internal {
        background-color: $sidebar-menu-internal-background;
        border-top: 1px solid $sidebar-menu-internal-border;
        border-bottom: 1px solid $sidebar-menu-internal-border;
        & .tocitem:hover {
          background-color: $sidebar-menu-internal-hover-background;
        }
      }

      /* Setting up a nicer theme style for the scrollbar */
      overflow-y: auto;
      -webkit-overflow-scroll: touch;
      &::-webkit-scrollbar {
          width: .3rem;
          background: none;
      }

      &::-webkit-scrollbar-thumb {
          border-radius: 5px 0px 0px 5px;
          background: $sidebar-scrollbar-color;
      }

      &::-webkit-scrollbar-thumb:hover {
          background: $sidebar-scrollbar-color-hover;
      }
    }

    form.docs-search {
      > input {
        @extend .input;
        @extend .is-rounded;
        @extend .is-small;
        width: 0.8 * $sidebar-width;
      }
      margin: auto;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .docs-main {
    @extend .dashboard-main;
    @extend .is-scrollable;

    transition: all 0.3s;

    @include tablet {
      padding: 0 1rem;
      padding-left: 1.3rem;
    }
    // We need to... FIXME
    > * {
      max-width: $documenter-max-width;
    }

    @include mobile {
      > .content, > footer {
        padding: 0 1rem;
      }
    }

    // FIXME
    // #navbar is the top bar of the page that contains the breadcrumb,
    // the "Edit on GitHub" link and the sidebar burger (when on mobile).
    header.docs-navbar {
      background-color: $body-background-color;
      border-bottom: 1px solid $border;
      z-index: 2;

      min-height: 4rem;
      margin-bottom: 1rem;

      display: flex;
      .breadcrumb {
        flex-grow: 1;
      }

      .docs-right {
        display: flex;
        .docs-icon, .docs-label, .docs-sidebar-button {
          display: inline-block;
        }
        white-space: nowrap;
        .docs-label {
          padding: 0;
          margin-left: 0.3em;
        }
        .docs-sidebar-button {
          font-size: 1.5rem;
          margin: auto 0 auto 1rem;
        }
      }

      // ensure vertical middle alignment of everything in the navbar
      > * {
        margin: auto 0;
      }

      @include mobile {
        // background-color: $background;
        // box-shadow: 0.2rem 0rem 0.4rem #bbb;
        position: sticky;
        top: 0;
        padding: 0 1rem;

        /* For Headroom.js */
        transition-property: top, box-shadow;
        -webkit-transition-property: top, box-shadow; /* Safari */
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s; /* Safari */
        &.headroom--not-top {
          box-shadow: $shadow-size 0rem $shadow-blur $shadow;
          transition-duration: 0.7s;
          -webkit-transition-duration: 0.7s; /* Safari */
        }
        &.headroom--unpinned.headroom--not-top.headroom--not-bottom {
          top: -4.5rem;
          transition-duration: 0.7s;
          -webkit-transition-duration: 0.7s; /* Safari */
        }
      }
    }

    section.footnotes {
      border-top: 1px solid $border;
    }

    footer.footer {
      margin-top: 2rem;
    }
  }
}

// Styling for the search page
#documenter .docs-main {
  #documenter-search-info {
    margin-bottom: 1rem;
  }

  #documenter-search-results {
    // border: 1px solid $border;
    // padding: 1rem;
    list-style-type: circle;
    list-style-position: outside;
    // padding-left: 1rem;

    li {
      margin-left: 2rem;
      // &::before {
      //   @include font-awesome;
      //   content: "ïƒš";
      // }
      > header {
      }
    }
    .docs-highlight {
      background-color: yellow;
    }
  }
}

// Bulma always adds a vertical scrollbar to the whole page. But since we're using the
// dashboard with the panes being scrollable individually, we need to explicitly remove the
// scrollbars from the html element.
html {
  overflow-x: hidden;
  overflow-y: hidden;
}
