// While the docs claim that the navbar breakpoint is `mobile`, it actually is `desktop`.
// Hence the need to override this variable.
// $navbar-breakpoint: $tablet !default;

// $sidebar-background: $primary-100 !default;
// $sidebar-menu-active-background: $primary !default;

$footer-padding: 1.5rem !default;

$sidebar-title-width: 0.9 * $sidebar-width !default;
$sidebar-menu-padding: 1rem !default;
$sidebar-title-font-size: $size-large !default;

// $sidebar-background: $primary !default;
$sidebar-background: $background !default;
$sidebar-color: invert($sidebar-background) !default;

// $sidebar-scrollbar-color: adjust-color($background, $lightness: -10%);
// $sidebar-scrollbar-color-hover: adjust-color($background, $lightness: -20%);
$sidebar-scrollbar-color: darken-color($sidebar-background, 1) !default;
$sidebar-scrollbar-color-hover: darken-color($sidebar-background, 2) !default;

$sidebar-menu-border: darken-color($border, 1) !default;

// $sidebar-menu-hover-color: $text-strong !default;
$sidebar-menu-hover-background: darken-color($sidebar-background, 0.5) !default;

// $sidebar-menu-active-background: $primary !default;
// $sidebar-menu-active-background: $white !default;
// $sidebar-menu-active-background: darken-color($sidebar-background, 0.5) !default;
$sidebar-menu-active-background: lighten-color($sidebar-background, 0.5) !default;
$sidebar-menu-active-color: $sidebar-color !default;
$sidebar-menu-active-font-weight: $weight-bold !default;

$sidebar-menu-internal-background: darken-color($sidebar-background, 1) !default;
$sidebar-menu-internal-hover-background: darken-color($sidebar-background, 4) !default;
$sidebar-menu-internal-hover-color: invert($sidebar-menu-internal-hover-background) !default;
$sidebar-menu-internal-border: darken-color($border, 1) !default;

$breadcrumb-item-disabled-color: $text-strong !default;

$content-pre-padding: 0.7rem 0.5rem !default;
