$family-sans-serif: 'Lato', 'Helvetica Neue', Arial, sans-serif !default;

$shadow: #bbb !default;
$shadow-size: 0.2rem !default;
$shadow-blur: 0.4rem !default;

$lightness-unit: 8% !default;
@function darken-color($color, $factor) {
  @return adjust-color($color, $lightness: -$factor*$lightness-unit);
}
@function lighten-color($color, $factor) {
  @return adjust-color($color, $lightness: $factor*$lightness-unit);
}
